django>=3.2
django-password-policies-iplweb @ git+https://github.com/frankhood/django-password-policies-iplweb.git@feature/FHS-200/fix-password-recovery#egg=django-password-policies-iplweb
djangorestframework