{% extends "admin/base_site.html" %}
{% load i18n static password_policies_rest_tags %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href='{% static "admin/css/forms.css" %}'>
<link
  rel="stylesheet"
  href="https://unpkg.com/tippy.js@6/themes/light-border.css"
/>
<style type="text/css">
  .inputWrapper{
    display:inline-block;
    position: relative;
  }
  .inputWrapper input{
    padding-right:30px;
  }
  input[type=text],input[type=password]{
    width:200px;
    box-sizing: border-box;
  }
  .field-icon {
    position:absolute;
    top:9px;
    right:8px;
    z-index: 2;
  }
  .form-row.p0{
    padding-left:0;
    padding-right:0;
  }
  form .aligned ul {
    margin-left: 200px;
    padding-left: 10px;
  }
  form .wide p.help, form .wide div.help{
    padding-left:50px;
  }
  .prefix{
    margin:10px 10px 10px 200px;
    padding-left: 10px;
  }
  #helpPanel{
    margin-left:300px;
    margin-top:-40px;
  }
  #helpPanel .list{
    color:darkgreen;
  }
  #helpPanel .list .error{
    color: #ba2121;
  }
  [type="submit"].disabled{
    cursor: default;
    pointer-events: none;
  }

</style>
{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}<div id="content-main">
  <form method="post" autocomplete="off" novalidate>{% csrf_token %}
    <div>
      {% if form.errors %}
      <p class="errornote">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
      </p>
      {% endif %}
      {% block head_text %}
      <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
      {% endblock head_text %}
      <fieldset class="module aligned wide">
        {% if form.non_field_errors %}
        <div class="form-row p0">
          {% for error in form.non_field_errors %}
          <div class="errornote">
            <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if form.old_password %}
        <div class="form-row">
          {{ form.old_password.errors }}
          {{ form.old_password.label_tag }} {{ form.old_password }}
        </div>
        {% endif %}
        <div class="form-row pwd">

          {{ form.new_password1.errors }}
          {{ form.new_password1.label_tag }}
          <div class="inputWrapper">
            <span data-toggle="#id_new_password1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            {{ form.new_password1 }}
          </div>
          <div id="helpPanel" >
            <div class="prefix"></div>
            <ul class="list"></ul>
            <ul class="listStatic"></ul>
          </div>

        </div>
        <div class="form-row pwd">
          {{ form.new_password2.errors }}
          {{ form.new_password2.label_tag }} {{ form.new_password2 }}
          {% if form.new_password2.help_text %}
          <div class="help">{{ form.new_password2.help_text|safe }}</div>
          {% endif %}
        </div>
      </fieldset>
      {% block submit_row %}
        <div class="submit-row">
          <input
            type="submit"
            value="{% trans 'Change password' %}"
            class="default"
          >
        </div>
      {% endblock submit_row %}

    </div>
  </form>
</div>


<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<script id="json-policies" type="application/json">{% get_password_policies_checks %}</script>

<script type="text/javascript">
  !function($){
    $(function() {

      var oldPasswordId,newPasswordId,newPasswordAgainId,conf,oldTip,passTip,passTipAgain,data={},errors='',
          canSubmit = false,
          $errorIcon = $('<span class="fa fa-times"></span>'),
          $okIcon = $('<span class="fa fa-check-circle"></span>'),
          policiesJson = JSON.parse(document.getElementById('json-policies').textContent),
          availableErrors = policiesJson.checks,
          staticErrors = policiesJson.static_checks,
          apiUrl = "{% url 'password-policies-rest:change-password-api' %}",
          apiMethod = 'POST',
          csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val(),
          tooltipTimeout = 2500,
          passwordOk = policiesJson.i18n.passwordOk,
          oldPassEmpty = policiesJson.i18n.oldPassEmpty,
          passwordNotTwins = policiesJson.i18n.passwordNotTwins,
          passwordTwins = policiesJson.i18n.passwordTwins,
          passwordNotStrong = policiesJson.i18n.passwordNotStrong,
          newPassErrors = true,
          twinPassErrors = true;


      oldPasswordId = '#id_old_password'
      newPasswordId = '#id_new_password1'
      newPasswordAgainId = '#id_new_password2'




      function debounce(fn, delay) {
        var timer = null;
        return function () {
          var context = this, args = arguments;
          clearTimeout(timer);
          timer = setTimeout(function () {
            fn.apply(context, args);
          }, delay);
        };
      }

      function serializeForm(fn, delay) {
        var ret = {};
        $('form input').each(function(i,el){
          var $el = $(el)
          ret[$el.attr('name')] = $el.val()
        })
        return ret;
      }

      function showError(key,$errorIcon){
        $('[data-key='+key+']').addClass('error')
        $('[data-key='+key+'] .icon').html($errorIcon.clone())
      }
      function hideError(key,$okIcon){
        $('[data-key='+key+']').removeClass('error')
        $('[data-key='+key+'] .icon').html($okIcon.clone())
      }

      function disableSubmit(){
        $('[type="submit"]').attr('disabled','disabled')
        $('[type="submit"]').addClass('disabled')
      }
      function enableSubmit(){
        $('[type="submit"]').attr('disabled',null)
        $('[type="submit"]').removeClass('disabled')
      }

      function updateSubmit(){
        if(!newPassErrors && !twinPassErrors ){
          enableSubmit()
        }else{
          //let's disable
          disableSubmit()
        }
      }

      updateSubmit();



      //we print in the template the intro text for the policies
      $('#helpPanel .prefix').html(policiesJson.prefix)

      //we print in the template all the policies that works with ajax request
      Object.keys(availableErrors).forEach(function(key){
        $('#helpPanel .list').prepend('<li data-key="'+key+'" class="item error"><span class="icon"></span>&nbsp;'+policiesJson.checks[key]+'</li>')
      })

      //we print in the template all the static policies
      Object.keys(staticErrors).forEach(function(key){
        $('#helpPanel .listStatic').prepend('<li data-key="'+key+'" class="item">'+policiesJson.static_checks[key]+'</li>')
      })

      //we print in the template passwordStrong error
      $('#helpPanel .list').append('<li data-key="unexpected-error" class="item error"><span class="icon"></span>&nbsp;'+passwordNotStrong+'</li>')

      //we add all the errors icons
      $('[data-key] .icon').html($errorIcon.clone())

      //we add the behaviour to show the password
      $(".toggle-password").on('click',function() {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).data("toggle"));
        if (input.attr("type") === "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
      });

      //we add the tips configurations
      conf = {
        duration: 300,
        maxWidth: 350,
        theme: 'light-border',
        trigger: 'manual',
        allowHTML: true,
      }

      //we add the tips for the input fields
      // oldTip = tippy(oldPasswordId, conf);
      passTip = tippy(newPasswordId, conf);
      passTipAgain = tippy(newPasswordAgainId, conf);

      //we bind the ajax call on input event
      $(newPasswordId).on('input', debounce(function (event) {
        data = serializeForm();

        //to trigger match
        $(newPasswordAgainId).trigger('input');

        $.ajax({
          method: apiMethod,
          url: apiUrl,
          data: data
        }).always(function(response) {

          //if somebody didn't provide an old password
          /*if('responseJSON' in response && 'old_password' in response.responseJSON){
            //error in old pass
            oldTip[0].setContent('<span style="color: #ba2121;">'+oldPassEmpty+'</span>');
            oldTip[0].show()
            setTimeout(function(){oldTip[0].hide()},tooltipTimeout)

          //if there are validation policies errors
          }else */ if('responseJSON' in response && 'non_field_errors' in response.responseJSON){
            //validation errors
            var availableKeys = Object.keys(availableErrors),
                responseKeys = response.responseJSON.non_field_errors,
                keyInError = availableKeys.filter(function(n) { return responseKeys.indexOf(n) !== -1;}),
                keyNotInError = availableKeys.filter(function(n) { return responseKeys.indexOf(n) === -1;}),
                unexpectedKeys = responseKeys.filter(function(n) { return availableKeys.indexOf(n) === -1;});


            keyInError.forEach(function(key){
              showError(key,$errorIcon)
            })

            if( unexpectedKeys.length || keyInError.length >= 2 ){
              showError('unexpected-error',$errorIcon)
            }else{
              hideError('unexpected-error',$okIcon)
            }

            keyNotInError.forEach(function(key){
              hideError(key,$okIcon)
            })

            newPassErrors = true;

          //if the password 1 is empty
          }else if('responseJSON' in response && 'new_password1' in response.responseJSON){

            Object.keys(availableErrors).forEach(function(key){
              showError(key,$errorIcon)
            });
            showError('unexpected-error',$errorIcon)

            newPassErrors = true;

          //if validation is ok
          }else if('message' in response && response.message === 'OK'){

            //pass ok
            Object.keys(availableErrors).forEach(function(key){
              hideError(key,$okIcon)
            });
            hideError('unexpected-error',$okIcon)
            newPassErrors = false;

          //if unknown
          }else{
            console.error('Ops!')
            newPassErrors = true;
          }

          updateSubmit();

        });
      }, 250));

      //we bind the tooltip on the confirm password input
      $(newPasswordAgainId).on('input', debounce(function (event) {
        data = serializeForm();

        if( $(newPasswordAgainId).val() !== $(newPasswordId).val() ){
          passTipAgain[0].show()
          passTipAgain[0].setContent('<span style="color: #ba2121;">'+passwordNotTwins+'</span>');
          twinPassErrors = true;
        }else{
          passTipAgain[0].setContent('<span style="color:darkgreen">'+passwordTwins+'</span>');
          passTipAgain[0].show()
          setTimeout(function(){passTipAgain[0].hide()},tooltipTimeout)
          twinPassErrors = false;
        }

        updateSubmit();
      }, 250));



    });

  }(window.django&&window.django.jQuery||window.jQuery);
</script>


{% endblock %}
